<div class="container">
  <div class="top-section" [ngStyle]="{ backgroundColor: item.bgColor }"></div>
  <div class="bottom-section">
    <div class="title">
      <span>men's clothing</span>
      <span class="dots">...</span>
    </div>
    <div class="body">
      <span class="value">109.95$</span>
      <div class="description">
        <p class="col-9">
          Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops
        </p>
        <p class="col-3 in-store">
          <span>In Store</span>
          <span>120</span>
        </p>
      </div>
    </div>
  </div>
</div>
