<div class="container">
  <div
    class="top-section"
    [ngStyle]="{ 'background-color': item.bgColor }"
  ></div>
  <div class="bottom-section">
    <div class="title">
      <span>{{ item.category }}</span>
      <span class="dots">...</span>
    </div>
    <div class="body">
      <span class="value">{{ item.price }}$</span>
      <div class="description">
        <p class="col-9 truncate-line-clamp">
          {{ item.description }}
        </p>
        <p class="col-3 in-store">
          <span>{{
            item.rating.count < 1 ? "Out Of Stock!" : "In Store"
          }}</span>
          <span class="count">{{ item.rating.count }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
