@import "./../variables.scss";

.container {
  font-family: Rubik;
  background-color: #0e1323;
  color: white;
  margin: -8px;
  height: auto;
  width: auto;

  .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 239px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 267px;
  }

  .flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    & * {
      padding-left: 29.2px;
    }
    :nth-child(n + 6) {
      margin-top: 38px;
    }
  }
}
